
.fills {
	border: 2px solid #cfcccc;
	margin-bottom: 1.6em;
	width: 80vw;
}

.balf{
	margin-bottom: 1em !important;
}


.fills:focus{
	border: 2px solid #545353;
}

.filla{
	border: 2px solid #cfcccc;	
}

// 

#myLinks {
     // display: block;
    position: absolute;
    background-color: white;
    width: 100%;
    margin-top: 12.6em !important;
    right: 0px;
}

@media (min-width: 1024px) {
	#myLinks{
		margin-top:0px !important;
	}
}
