@media (min-width: 355px){
  .pa{
    margin-left: .2em;
  }
}

@media(min-width: 375px){
  .pa{
    margin-left: .3em;
  }
}

@media (min-width: 408px) {
  .pa{
    margin-left: .5em;
  }
}

@media(min-width: 475px){
  .pa{
    // margin-left: .9em;
  }
}

@media (min-width: 521px){
  .pa{
    // margin-left: 1.1em;
  }
}

@media(min-width: 768){
  .pa{
    // margin-left: 30em;
  }
}